<link rel="stylesheet" href="css/dashboard.css" type="text/css">

    <div class="welcome_message">
        <h3>Welcome Admin</h3>
        <h4>What would You like to do ?</h4>
    </div>
    <div class="admn_optns">
        <a href="#" class="crt_rm" >Create Rooms <i class="fas fa-long-arrow-alt-right" style="padding-left: 0.5em; font-size:1.2em"></i></a>
        <a href="#" class="mod_rm" >Modify Rooms <i class="fas fa-long-arrow-alt-right" style="padding-left: 0.5em; font-size:1.2em"></i></a>
        <a href="#" class="del_rm" >View Rooms <i class="fas fa-long-arrow-alt-right" style="padding-left: 0.5em; font-size:1.2em"></i></a>        
    </div>

    
