{{!-- <link rel="stylesheet" href="css/room_listing.css" type="text/css"> --}}

    <div class="welcome_message">
        <h3>Thank you for creating a room.</h3>
        <h4>What would You like to do ?</h4>
    </div>
    <div class="admn_optns">
        <a href="/room-listing/create_rooms" class="crt_rm" >Create More Rooms <i class="fas fa-long-arrow-alt-right" style="padding-left: 0.5em; font-size:1.2em"></i></a>
        {{!-- <a href="/room-listing/edit_rooms/:id" class="mod_rm" >Modify Rooms <i class="fas fa-long-arrow-alt-right" style="padding-left: 0.5em; font-size:1.2em"></i></a> --}}
        <a href="/room-listing/view_rooms" class="del_rm" >View and Update Rooms <i class="fas fa-long-arrow-alt-right" style="padding-left: 0.5em; font-size:1.2em"></i></a>        
    </div>
