<link rel="stylesheet" href="css/dashboard.css">
<script>

</script>

{{!--  --}}

<div class="content">
    <div class="sidenav">

        <ul>
            <li>Dashboard</li>
            <li>Bookings</li>
            <li>Gallery</li>
            <li>Personal Info</li>
            <li>Payment Methods</li>
        </ul>

    </div>

    <div class="main_content">
        <h1 class="welcome_message">Bienvenue </h1>
        <h3 class="Thank_you">Thank you for registering with us.</h3>
        <p>With TravellingBud, You get the best travel experience. You can configure your dashboard and account settings.
        </p>
    </div>

</div>