*{
    padding: 0;
    margin: 0;
}

.welcome_message{
    text-align: center;
}

.sidenav{
    /* position: fixed; */
    width: 20em;
    height: 100%;
    background-color: darkgrey;
}

.sidenav ul li{
    font-size: 1.2em;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    }

.btn{
    position: absolute;
    left: 20em;
    top: 6em;
    cursor: pointer;
}

.content{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-gap: 10px;
}