*{
    padding: 0;
    margin: 0;
}

.welcome_message{
    text-align: center;
    font-size: 2em;
    color: rebeccapurple;
}

.sidenav{
    /* position: fixed; */
    width: 20em;
    height: 100%;
    background-color: darkgrey;
    margin-right: 2em;
}

.sidenav:hover{
    cursor: pointer;
}

.sidenav ul li{
    font-size: 1.2em;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    }

.sidenav ul li:hover {
    background-color: dimgray;

}

.btn{
    position: absolute;
    left: 20em;
    top: 6em;
    cursor: pointer;
}

.content{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-gap: 10px;
}

.Thank_you{
    margin-top: 2em;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    color: darkblue;
}

.welcome_message{
    text-align: center;
    margin-top: 1em;
}

.welcome_message h3{
    margin: 1em 0em;
}

.admn_optns{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1em;
    text-align: center;
    margin:2em
}

.admn_optns a{
    border: 1px dotted black;
    padding: 2em;
    cursor: pointer;
    text-decoration: none;
}

.admn_optns :hover{
    color: whitesmoke;
    background-color: darkslateblue;
    transition: ease-in-out 0.4s;
}

@media (max-width: 576px) { 
    .sidenav ul li{
        display: block;
        text-align: center;
    }

    .content{
        display: block;
        
    }
    .sidenav{
        height: 100%;
    background-color: darkgrey;
    margin-right: 2em;
    max-width: 40em;
    }

    .main_content{
        margin-top: 2em;
    }

    .main_content p{
        margin-bottom: 2em;
    }
 }

 
