*{
    padding: 0;
    margin: 0;
}

.welcome_message{
    text-align: center;
    font-size: 2em;
    color: rebeccapurple;
}

.sidenav{
    /* position: fixed; */
    width: 20em;
    height: 100%;
    background-color: darkgrey;
    margin-right: 2em;
}

.sidenav:hover{
    cursor: pointer;
}

.sidenav ul li{
    font-size: 1.2em;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    }

.sidenav ul li:hover {
    background-color: dimgray;

}

.btn{
    position: absolute;
    left: 20em;
    top: 6em;
    cursor: pointer;
}

.content{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-gap: 10px;
}

.Thank_you{
    margin-top: 2em;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    color: darkblue;
}
