@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html{
    font-family:  'Playfair Display', sans-serif;;
}

.card{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin: 1em 0em;
    margin-left: 1em;
}

.card:hover{
    box-shadow: 5px 10px 5px lightgray;
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.description{
    position: relative;
    padding: 5px 16px;
    margin-top: 0em;
    
}

.description p{
    display: inline-block; 
    margin-right: 16em;
    margin-bottom: 1em;
}

.description div{
    display: inline-block;
    margin-bottom: 1em;
}

.room_listing_heading{
    font-size: 1.4em;
    color: darkblue;
    margin-top: 3em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0.5em;
}

.descrip_heading{
    color: sandybrown;
}

.price{
    margin-top: 1em;
    text-align: center;
    color: darkblue;
}

.rating{
    position: absolute;
    right: 0;
    top: 0;
}

.fa-star{
    margin-top: 0.5em;
    margin-left: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    color: darkblue;
} 

/************* Create Rooms CSS *************************/

#room_ttl,#room_ttl,#room_prc,#room_dsc,#room_lcn,#chck_ys{
    display:inline-block;
    padding: 0.8em;
    width: 80%;
    font-family: 'Playfair Display';
 }

.room_lbl{
    display: block;
    margin: 1em 0em;
    font-weight: bold;
}

.chck_ys,.chck_no{
    display: inline-block;
    margin-left: 5em;
}

.room_lst_frm{

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.room_lst_frm_cntnt
{
    margin:2em 0em;
    text-align: center;
    width: 35em;
    border:1px solid darkgray;
}

.crte_rm_hd{
    margin: 1em 0em;
    color: #0E8B8F;
    font-weight: lighter;
}

.add_rm{
    padding: 0.5em;
    margin:1em;
    cursor: pointer;
    background-color: #FF5A5F;
    width: 50%;
    font-family: 'Playfair Display';
    color: whitesmoke;
}

.add_rm:hover{
    background-color: #f53844;
}

@media (max-width: 576px) { 
    .container{
        display: block;
    }

}

@media (max-width: 768px) { 
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;
    }

   
}

@media (max-width: 992px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:2px;
    }
}